<h1>Статьи</h1>
<p>Приложение в фреймворке Ruby on Rails by Alexey Lobzov</p>
<hr>
<h2>Сохраненные статьи:</h2>
<ul>
  <% @articles.each do |article| %>
    <li>
    	<!--вместо этого <a href="/articles/<%= article.id %>"> 
    		<%= article.title %> </a> -->
    		<p><b>
    		<%= link_to article.title, article %> 
    		</b></p>
    	
   		<p><i><%= article.body %> </i></p>
    </li>
  <% end %>
</ul>

<%= link_to "Добавить новую статью", new_article_path %>